.bg{
    height: 1080px;
    background-image: linear-gradient(to bottom right,rgb(69, 2, 177),rgb(94, 24, 134));
}

*{
    perspective: 800px;
}

.card{
    width:250px;
    height: 444px;
    border-radius: 30px;
    position: relative;
    top: 200px;
    margin: 0 auto;
    background-color: rgb(145, 145, 145);
    box-shadow:10px 10px 5px rgb(44, 44, 44) ;
    transition: 2s;
    
}

 /* @keyframes Roll{
    from{
        
        transform: rotateY(0deg);
    }
    to{
       
        transform: rotateY(180deg);
    }
} */
.card:hover{
    /* animation-name:Roll;
    animation-duration:2s;
    animation-delay: 0s;
    animation-direction: alternate; */
    transform: translateZ(100px) rotateY(180deg);
    /* animation-iteration-count: 2; */
}


.text{
    position: relative;
    top: 100px;

}